*.user
qtc_*/*
release/*
Run/TempData/*
debug/*
Makefile
Makefile.*
ui_*
modules/*
third_party/sqlite3/*
fpmtmp/*
deployment/*
proto/*.pb.cc
proto/*.pb.h
Run/*.log
Run/*.sqlite
Run/bot_token*.ini
Run/lib*.a
Run/settings
