*.user
*.7z
*.exp
*.ilk
*.pdb
*.dll
*.log.*
*.autosave
*-pre1
!txt/*



qtc_*/*
release/*
Run/TempData/*
debug/*
Makefile
Makefile.*
ui_*
third_party/sqlite3/*
fpmtmp/*
deployment/*
shell/deployment/*
proto/*.pb.cc
proto/*.pb.h
Run/*.log
Run/*.sqlite
Run/bot_token*.ini
Run/lib*.a
Run/settings
Run/Crawler*
Run/FicLists*
Run/ServerData
Run/TagExtractor*
Run/backups/*
Run/cares.lib
Run/crypto.lib
Run/grpc*
Run/gflags*
Run/gtest.lib
Run/zlibstaticd.lib
Run/zlib*Run/ssl.lib
Run/libprotocd.lib
Run/libproto*.lib
Run/ssl.lib
Run/zlibd.lib
Run/server_state.ini
Run/*.exe
Run/intermediate*
Run/gpr.lib
Run/feed_server.lib
Run/flipper.lib
Run/database/*
xcf/*
*.qbs.user.*
*.qbs.user


third_party/zlib/*
third_party/google/*
libs/logger/llogger.pri


modules/modules/localvariables*

