[submodule "third_party/sleepy-discord"]
	path = third_party/sleepy-discord
	url = https://github.com/Zeks/sleepy-discord.git
[submodule "proto"]
	path = proto
	url = https://github.com/Zeks/flipper-proto.git
[submodule "libs/ui-models"]
	path = libs/ui-models
	url = https://github.com/Zeks/ui-models.git
[submodule "third_party/pqxx"]
	path = third_party/pqxx
	url = git@github.com:jtv/libpqxx.git
