modules/*
build-*
qtc_*
qtc_*/*
*.o
Makefile*
Makefile
Makefile.*
*.Release
*.Debug
release/
debug/
*.lnk
*.ilk
*.lib
*.res
*.obj
*.manifest
*.embed.manifest
*.rar
*.tar.gz
*/*.so
*.*~
*.~*
*.a
*.so.*
*.so
*.exe
*.rc
*.log
*.zip
*.7z
*.dll
ui_*.h
moc_*.cpp
qrc_*.cpp
*.obj
*.log.*
